<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="/BookMarket/js/controller.js"></script>
</head>
<body>
<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/BookMarket/home" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <img src="../imgs/book_icon.png">&nbsp;&nbsp;
      <span class="fs-4">BookMarket</span>
    </a>
  </header>
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">장바구니</h1>
      <p class="col-md-8 fs-4">BookMarket</p>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <a href="#" class="btn btn-success text-right" style="float:right">주문하기</a>
    </div>
    <div style="padding-top: 50px">
      <table class="table table-hover">
        <tr>
          <th>도서</th>
          <th>가격</th>
          <th>수량</th>
          <th>소계</th>
          <th>비고</th>
          <th></th>
        </tr>
        <form name="removeForm" id="removeForm" method="post">
          <input type="hidden" name="_method" value="delete"/>
          <div th:if="${cart != null}">
            <div th:each="item:${cart.cartItems}">
              <tr>
                <td th:text="${item.value.book.bookId} + '-' + ${item.value.book.name}"></td>
                <td th:text="${item.value.book.unitPrice} + '원'" ></td>
                <td th:text="${item.value.quantity} + '개'"></td>
                <td th:text="${item.value.totalPrice} + '원'" ></td>
                <td></td>
                <td><a th:href="'javascript:removeFromCart(\''+ ${item.value.book.bookId} +'\', \'' + ${cartId} + '\')'"><span class="badge text-bg-danger">삭제</span></a></td>
              </tr>
            </div>
          </div>
        </form>
      </table>
      <div class="text-end" style="padding-right: 30px">
        <b>
          총액 <span th:if="${cart != null}">[[${cart.grandTotal}]]원</span>
        </b>
      </div>
      <br>
      <a href="/BookMarket/books" class="btn btn-secondary">&laquo; 쇼핑 계속하기</a>
    </div>
  </div>
  <footer class="pt-3 mt-4 text-body-secondary border-top">
    <span class="text-body-secondary">&copy; BookMarket</span>
  </footer>
</div>
</body>
</html>